<%- include('partials/_head') %>
<%- include('partials/_nav') %>


<div class="container">
  <div class="confirmation">
    <h1 class="confirmation-text">Account created successfully.</h1>

    <div class="image-container">
      <img src="/images/mad-avocado.png" alt="mad-avocado">
    </div>

    <p>You did it, {{[Name]}}! Congrats on taking the first step to a better you!</p>

    <p>Look out for a confirmation email at [email]</p>

    <form action="/">
      <button type="submit">BACK TO HOME</button>
    </form>
  </div>
  <div class="push"></div>
</div>

    


<%- include('partials/_footer') %>