<%- include('./partials/_head')  %>
<%- include('./partials/_nav')  %>

<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2>Have you hit guac bottom?</h2>
    </div>
  </div>
</div>
  <a href="/signup">Sign Up Page</a>
<br/>


<%- include('./partials/_footer')  %>

