<%- include('./partials/_head')  %>
<%- include('./partials/_nav')  %>

<div>
  <h2>Avocados Anonymous Project Landing Page</h2>
  <a href="/signup">Sign Up Page</a>
</div>
<br/>


<%- include('./partials/_footer')  %>

