<%- include('./partials/_head')  %>
<%- include('./partials/_nav')  %>

<div class="jumbotron jumbotron-fluid jumbotron-overlay">
</div>
<div class="home container">

  <div class="about">
    <h1 class="text-center">ABOUT US</h1>
    <br/>
    <p>Avocados Anonymous is an international fellowship of men and women who have had an avocado problem. It is nonprofessional, self-supporting, multiracial, apolitical, and available almost everywhere. There are no age or education requirements. Membership is open to anyone who wants to do something about his or her avocado problem.</p>

    <div class="text-center">
      <h3>Does this sound like you? Join us to cleanse yourself from clean eating</h3> 
    </div>
    <br/>
    <div class="text-center">
      <a href="/signup"><button class="sign-up">JOIN US</button></a>
    </div>
    <br/>
  </div>

  <div class="about">
    <h1 class="text-center">HISTORY</h1>
    <p>I started this group after years of abusing avocados. It was hard to take a look in the mirror, especially during this millenial craze. I was so ashamed of the lengths  my avocado addiction took me. </p>

    <div class="about-image">
      <img class="img-responsive" src="/images/avoanon-logo-large.png" alt="Avocados Anonymous Logo">
    </div>

    <p>I knew there must be others like me, alone in this world brimming with avocados. I hope we can provide you with the support I needed during that time of turmoil.</p>

    <div class="text-center">
      <a href="/signup"><button class="sign-up">JOIN US</button></a>
    </div>

    <br/>
  </div>


<br/>
<div class="push"></div>

</div>




<%- include('./partials/_footer')  %>

