<%- include('./partials/_head')  %>
<%- include('./partials/_nav')  %>

<div class="jumbotron jumbotron-fluid jumbotron-overlay">
  <div class="jumbotron-text">
    <h2>Have you hit guac bottom?</h2>
  </div>
</div>
<div class="container">

  <div class="about">
    <h4 class="text-center">About Us</h4>
    <p>Avocados Anonymous is an international fellowship of men and women who have had an avocado problem. It is nonprofessional, self-supporting, multiracial, apolitical, and available almost everywhere. There are no age or education requirements. Membership is open to anyone who wants to do something about his or her avocado problem.</p>

    <p>I started this group after years of abusing avocados. It was hard to take a look in the mirror, especially during this millenial craze. I was so ashamed of the lengths  my avocado addiction took me. </p>

    <p>I knew there must be others like me, alone in this world brimming with avocados. I hope we can provide you with the support I needed during that time of turmoil.</p>
  </div>

  <div class="about-image">
    <img class="img-responsive" src="https://www.verywellhealth.com/thmb/H8mA6OLDGlTENdrB-vMMtFdanlo=/768x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/avocadosGettyImages-961101662-5b9eda1bc9e77c0050a7fafa.jpg" alt="Avocados Anonymous Logo">
  </div>

  <div class="text-center">
    <h4>Does this sound like you? Join us to cleanse yourself from clean eating</h4>
  </div>

  <div class="text-center">
    <a href="/signup"><button class="sign-up">SIGN UP</button></a>
  </div>



<br/>
<div class="push"></div>

</div>




<%- include('./partials/_footer')  %>

