<%- include('partials/_head') %>
<script defer src="/js/signup.js"></script>
<%- include('partials/_nav') %>

<div class="container">
  <p>Liberate yourself from your soft, green, mushy cage.</p>
  <h1>Create your account today.</h1>

  <form class="needs-validation" novalidate action="/signup" method="POST">
    <div>
      <input class="form-control" required type="text" id="name" name="name" placeholder="Name"/>
    </div>
    <br />

    <div>
      <input class="form-control" required type="email" id="email" name="email" placeholder="Email"/>
    </div>
    <br />

    <div>
      <input class="form-control" required type="text" id="username" name="username" placeholder="Username" />
    </div>
    <br />

    <div>
      <input class="form-control" required type="password" id="password" name="password" placeholder="Password" />
    </div>
    <br />

    <div>
      <input class="form-control" required type="password" id="password2" name="password2" placeholder="Confirm Password" />
    </div>

    <input class="sign-up" type="submit" value="Sign Up">
  </form>
  <div class="push"></div>
</div>
    

<%- include('partials/_footer') %>