<%- include('partials/_head') %>
<script defer src="/js/signup.js"></script>
<%- include('partials/_nav') %>

<div class="container">
  <div class="signup-page">
    <h1>Join us today!</h1>
    <p>Liberate yourself from your soft, green, mushy cage.</p>
    <div class="form-row">
      <form class="form-group mx-sm-3 mb-2 needs-validation" novalidate action="/signup" method="POST">
        <div>
          <input class="form-control" required type="text" id="name" name="name" placeholder="Name"/>
        </div>
        <br />
        <div>
          <input class="form-control" required type="email" id="email" name="email" placeholder="Email"/>
        </div>
        <br />
        <div>
          <input class="form-control" required type="text" id="username" name="username" placeholder="Username" />
        </div>
        <br />
        <div>
          <input class="form-control" required type="password" id="password" name="password" placeholder="Password" />
        </div>
        <br />
        <div>
          <input class="form-control" required type="password" id="password2" name="password2" placeholder="Confirm Password" />
        </div>
        <input class="signup-input sign-up" type="submit" value="JOIN US"><br/>

      </form>
      
      <a class="cancel-signup" href="/">Cancel</a>
    </div>    
    <div class="push"></div>
  </div>
</div>

<!-- REGISTRATION FORM
<div class="container text-center" style="padding:50px 0">

	<div class="login-form-1">
    <form id="register-form" class="text-left" action="/signup">
      
			<div class="main-login-form">
				<div class="login-group">
          <div class="form-group">
						<input required type="text" class="form-control" name="name" placeholder="Name">
          </div>
          <div class="form-group">
						<input required type="email" class="form-control" name="email" placeholder="Email">
					</div>    
					<div class="form-group">
						<input required type="text" class="form-control" name="username" placeholder="Username">
          </div>
					<div class="form-group">
						<input required type="password" class="form-control" name="password" placeholder="Password">
          </div>
					<div class="form-group">
						<input required type="password" class="form-control" name="password_confirm" placeholder="Confirm password">
          </div>
        </div>
      </div>
		</form>
	</div>
</div> -->


<%- include('partials/_footer') %>