body {
}

.thead-green2 {
  background-color: #73A761;
  /* TODO: change font color of table header */
  color: #F1F1F1;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #FFF;
}

.tr-green1 {
  background-color: #F2F8E1;
}